html,
body,
#viewport {
  height: 100%;
}

::-webkit-input-placeholder {
  font-size: 12px;
  color: #999;
  line-height: auto;
}

/*@keyframes sending {
 0% {background: #111;}
 50% {background: green;}
 100% {background: '#4d4d4d';}
}*/

/*@-webkit-keyframes sending {
  0% {
    width: 12px;
    height: 12px;
    background: #4d4d4d;
    border-radius: 50%;
    color: #4d4d4d;
    font-size: 0;
  }
  95% {
    color: #4d4d4d;
    background: green;
  }
  100% {
    color: #fff;
  }
}*/
/*
.sendBtn {
  -webkit-animation: sending 1s ease-in-out;
  animation: sending 1s ease-in-out;
}

*/
